

/* 

table{
    border: 1px solid var(--light-gray);
    border-radius: 15px;
    padding: 15px 10px;
} */

.stocks-table {
    
    border: 1px solid #ddd;
    border-radius: 15px; 
    padding: 15px 0px;
}

.stocks-table th, .stocks-table td {
    border-bottom: 1px solid #ddd;
    padding: 10px 18px;
    text-align: left;
}

.stocks-table td{
    padding: 14px 18px;
}

.stocks-table .symbol{
    color: var(--blue);
    font-weight: 600;
    transition: 0.1s ease;
}

.stocks-table .symbol:hover{
    text-decoration: underline;
}

.stocks-table tr:last-child td {
    border-bottom: none; /* Remove bottom border of the last row */
}

.stocks-table .percentage-gain .icon{
   
    width: 22px;
    /* display: inline-block; */
}

.stocks-table .percentage-gain .stk-table-text{
    /* display: inline-block; */

}

.stocks-table .percentage-gain{
    /* display: grid; */
    /* grid-template-columns: max-content 1fr; */
    display: flex;
    align-items: center;
    gap: 5px;
    /* color: var(--green); */
}

/* SEARCH */
.stocks-table .search .icon{
    width: 23px;
    /* color: var(--light-gray); */
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stocks-table .search {
    display: flex;
    align-items: center;
   
    gap: 8px;
    border: 1px solid var(--light-gray);
    border-radius: 24px;
    padding: 7px 15px;
    width: max-content;
}

.stocks-table .search input{
    height: 100%;
    border: none;
}

.stocks-table .other-heads{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.stocks-table .other-heads .add-stock-btn{
    border: none;
    background-color: var(--blue);
    

    border-radius: 24px;
    padding: 12px 22px;
    color: var(--white);
    cursor: pointer;
}

.delete-container{
    display: flex;
    justify-content: space-between;
}

.delete-container .delete-div{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.delete-container .delete-div:hover{
    color: var(--red);
    
}