.nav-link div {
    width: 25px;
    height: 25px;
}

.nav-link{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 9px 10px;
}

.top-nav-section .company-logo{
    margin-left: 10px;
}

.nav-link:hover, .active-nav-link{
    background-color: var(--light-blue);
    color: var(--blue);

    padding: 9px 10px;
    border-radius: 10px;
    
}

.other-links .logout-link:hover{
    background-color: var(--light-red);
    color: var(--white);
}



.nav-link:hover p, .active-nav-link p{
    font-weight: 600;
}
.navigation-links, .other-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 3.5rem;
    padding-bottom: 20px;
}

.navigation-links, .other-links div{
    cursor: pointer;
}

.navigation-links, .other-links  #logout-link{

}

.nav-link #logout-link:hover{
    background-color: red;
}

.all-nav-links{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    width: 13%;

}

.user-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.user-details .user-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

